<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Manage My Teams</a></li>
  <li class="divider"></li>
  <li><a href="#!">Create a New Team</a></li>
  <li class="divider"></li>
  <li><a href="#!">Account Settings</a></li>
  <li class="divider"></li>
  <li><a href="#!">Billing and Plans</a></li>
  <li class="divider"></li>
  <li><a href="#!">Change My Account Name</a></li>
</ul>


<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">

      <% if current_user %>
       <li>Hi <%= current_user.first_name %> <%= current_user.last_name %>!</li>
       <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Account<i class="material-icons right">arrow_drop_down</i> </a></li>
       <li><a href="#!">Support</a></li>
       <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
       <% else %>
       <li><%= link_to 'Log In', sign_in_path %></li>
       <% end %>

    </ul>
  </div>
</nav>
