<% if current_user %>
  You are logged in as <%= current_user.first_name %> <%= current_user.last_name %><br>

  <%= link_to 'Log Out', logout_path, method: :delete %>
<% else %>
  <%= link_to 'Log In', sign_in_path %><br>
<% end %>

<%# @teams.each do |team| %>
  <p>
    <%#= link_to team, team_path(team) %>
    <%#= team.members(current_user, team[0]) %>
  </p>
<%# end %>
