// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dropdown-content li>a, .dropdown-content li>span {
    font-size: 14px;
    color: #ff5a00;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

nav {
    color: #fff;
    background-color: #226dab;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

h1 {
  font-family: 'museo';
}

// @font-face {
//   font-family: 'museo';
//   font-url('/assets/fonts/MuseoSansRounded-500-webfont.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
// }
