.dropdown-content li>a, .dropdown-content li>span {
  font-size: 14px;
  color: #ff5a00;
  display: block;
  line-height: 22px;
  padding: 14px 16px;
}

nav {
  color: #fff;
  background-color: #226dab;
  width: 100%;
  height: 56px;
  line-height: 56px;
}
